<html>
  <head>
    <title>Ruby Meleé</title>
  
    <script src="/javascripts/codemirror.js"></script>
    <script src="/javascripts/codemirror-ruby.js"></script>
    <script src="/javascripts/jquery-1.9.0.min.js"></script>
    <script src="/javascripts/melee_client.js"></script>    
    <script src="http://faye.rubymelee.com/melee/client.js"></script>

    <link rel="stylesheet" href="/stylesheets/codemirror.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-2.2.1.css">
    <link rel="stylesheet" href="/stylesheets/melee.css">
  </head>
  <body>
    <%= yield %>
  </body>


</html>