<html>
  <head>
    <title>Ruby Meleé</title>
  
    <script src="/codemirror/codemirror.js"></script>
    <script src="/codemirror/modes/ruby.js"></script>
    <script src="/jquery-1.9.0.min.js"></script>
    <script src="/melee_client.js"></script>    
    <script src="http://localhost:8000/melee/client.js"></script>

    <link rel="stylesheet" href="/codemirror/codemirror.css">
    <link rel="stylesheet" href="/bootstrap-2.2.1.css">
    <link rel="stylesheet" href="/melee.css">
  </head>
  <body>
    <%= yield %>
  </body>


</html>