body {
  background: #3d3d3d;
  color: #eee;
}

h2 { 
  margin-left : 0px; font-size: 1.3em; 
  font-size: 1.3em;
  line-height: 0.8em;
}

.container { width : 1080px;}
[class*="span"] { margin-left : 0; }
#output { position : absolute; overflow-y: scroll; top: 0; left: 0; right : 0; bottom: 0;}
#output > pre {
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  font-size: 0.8em;
  min-height: 100%;
}
#main-row, #main-row > [class*="span"], 
  #main-row > [class*="span"] > div,
  .CodeMirror { min-height: 100%;}

#main-row > [class*="span"] > div
{
  background: #e9eaee;
  border: 2px solid #ffffff;
  padding: 5px;
  margin: 2px 5px 0 0;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}

#output-pane { position: relative }
#output-pane > #wait-overlay { display : none; position: absolute; top: 0; left: 0; right : 0; bottom: 0; z-index: 1; 
  background: rgba(255,255,255,0.7) url(/images/loader.gif) 50% 50% no-repeat;} 